%btn {
  display: inline-block;
  border-radius: 50px;
  padding: 0.8rem 1.3rem;
  font-weight: 200;

  &:hover {
    transform: scale(0.98);
  }
}

.btn-primary {
  @extend %btn;
  background-color: #ffffff;
  //margin-right: 24rem;
  width: 100%;
  max-width: 21rem;
  height: 100%;
  max-height: 6rem;

  font-family: helvetica;
  font-style: normal;
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 160%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.005em;

  color: #212353;

  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}

.btn-secondary {
  @extend %btn;
  
    background-color: #9c69e2;

  width: 100%;
  max-width: 17rem;
  height: 100%;
  max-height: 6rem;
    

    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #ffffff;
}


