.footer {
  width: 100%;
  border-top: solid 1px#9C69E2;
  margin-top: 17.9rem;
  padding-top: 9rem;

  @include responsive(phone) {
    margin-top: 30rem;
    
    
  }

  &__container {
    width: 100%;
    max-width: 110rem;
    margin: auto;

  }

  &__top {
    display: flex;
    justify-content: space-between;

    @include responsive(phone) {
      flex-direction: column;
      text-align: center;
    }

    .footer__buttons {
      display: flex;
      justify-content: space-between;
      width: 100%;
     

      @include responsive(phone) {
        justify-content: center;
      }

      .button-1 {
        background: #f063b8;
      }

      .button-2 {
        margin-left: 3rem;
      }
    }

    .footer__text-box {
      
      h5 {
        font-family: Helvetica;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 130%;

        display: flex;
        align-items: center;

        color: #212353;

        @include responsive(phone) {
          justify-content: center;
        }
      }

      p {
        font-family: Avenir;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        color: #4b5d68;

        @include responsive(phone) {
          margin: 3rem 0;
        }
      }
    }
  }

  .bottom {
    margin-top: 15.3rem;
    margin-bottom: 9.1rem;


    &__container {
      display: flex;
      justify-content: space-between;

      @include responsive(phone) {
        flex-direction: column;
        text-align: center;
      }

      .left {
        .logo-text {
          display: flex;
          justify-content: start;

          @include responsive(phone) {
            display: block;
          }

          h6 {
            font-family: Avenir;
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
            line-height: 160%;

            color: #212353;
            margin-left: 2rem;

            @include responsive(phone) {
              margin-top: 3rem;
            }
          }
        }

        .address {
          margin-top: 6.7rem;
          font-family: Avenir;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 180%;

          letter-spacing: 0.01em;

          color: #212353;
        }

        .contact {
          margin-top: 1.5rem;

          font-family: Avenir;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 180%;

          letter-spacing: 0.01em;

          color: #212353;
          
        }
      }

      .about-menu {

        @include responsive(phone) {
          margin: 5rem 0;
        }
        h6 {
          font-family: Avenir;
          font-style: normal;
          font-weight: 900;
          font-size: 16px;
          line-height: 160%;

          color: #212353;
          margin-bottom: 3rem;
        }

        ul {
          list-style: none;
          font-family: Avenir;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 250%;
        }
      }

      .help-menu {
        h6 {
          font-family: Avenir;
          font-style: normal;
          font-weight: 900;
          font-size: 16px;
          line-height: 160%;

          color: #212353;
          margin-bottom: 3rem;
        }

        ul {
          list-style: none;
          font-family: Avenir;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 250%;
        }
      }

      .social-media {

        @include responsive(phone) {
          margin-top: 5rem;
        }
        h6 {
          font-family: Avenir;
          font-style: normal;
          font-weight: 900;
          font-size: 16px;
          line-height: 160%;

          color: #212353;
          margin-bottom: 3rem;
        }
      }
    }

    &__copyright {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 11.8rem;
      margin-bottom: 9.1rem;

      @include responsive(phone) {
        justify-content: center;
      }

      .paragraph {
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 180%;

        display: flex;
        align-items: center;
        letter-spacing: 0.01em;

        color: #212353;
        @include responsive(phone) {
          margin-right: 3rem;
        }
      }

      .image {
        display: flex;
        align-items: center;
      }
    }
  }
}
